<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<head>
    <script>

    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(255,255,255);">
        <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
                <a class="nav-link" style="color: #ed1b76" href={{ url_for('index') }}>Portfolio </a>
                <!-- stub is shown using the name of the route -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <!--root menu -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" style="color: #ed1b76" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Greet Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href={{ url_for('zachgreet') }}>Zachary's Greet</a>
                                <a class="dropdown-item" href="/briangreet">Brian's Greet</a>
                                <a class="dropdown-item" href="/stanley">Stanley's Greet</a>
                                <a class="dropdown-item" href="/leo">Leo's Greet</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" style="color: #ed1b76" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Our Games
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/spaceClick">Space Click</a>
                            <a class="dropdown-item" href="/guessTheNumber">Guess the Number</a>

                        </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" style="color: #ed1b76" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                APIs
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/movieapi">Movie Api</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" style="color: #ed1b76" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Databases
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link" href={{ url_for('crud.crud') }}>SQL Crud </a>
                                <a class="nav-link" href={{ url_for('crud.search') }}>SQL Search</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" style="color: #ed1b76" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/movies">Best Rated Movies</a>
                                <a class="dropdown-item" href="/moviequiz">Movie Quiz</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" style="color: #ed1b76" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Review Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/arcade">Movies</a>
                                <a class="dropdown-item" href="/arcade2">TV Shows</a>
                                <a class="dropdown-item" href="/stub">Temp Review</a>
                                <a class="dropdown-item" href={{ url_for('colorCode') }}>Temp Review 2</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</body>


