<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <title>Leo's About Me + Greet</title>

        <div class="col-12">
            <p>Hello, {{name}}!</p>
        </div>


        <div class="col-12">
            <form action="/leo" id="greet" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>

        <h2 style="font-family:'Courier New'">#1: Becoming (By Michelle Obama)</h2>
        </button>
        <img src="/static/assets/leomaskon.png" onclick="this.src='/static/assets/leomaskoff.png'">

        <div style="position:relative; left:80px"
        <p style="font-family:'Courier New'"> Autobiography written by Michelle Obama on events and lifestyles from her early life all the way up until the book was published. She shares childhood stories, as well as different events
            that she went through on her journey to becoming the First Lady of the United States.</p>
    </div>
</body>
</html>


{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}